<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <display-name>Mock Servlet</display-name>


    <!--filter>
        <filter-name>gzipFilter</filter-name>
        <filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>gzipFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping-->

    <servlet>
        <servlet-name>mockservlet1</servlet-name>
        <servlet-class>cz.nkd.cube.MockServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mockservlet2</servlet-name>
        <servlet-class>cz.nkd.cube.MockServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mockservlet3</servlet-name>
        <servlet-class>cz.nkd.cube.MockServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>speedservlet</servlet-name>
        <servlet-class>cz.nkd.cube.SpeedServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mockservlet1</servlet-name>
        <url-pattern>/mock1/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mockservlet2</servlet-name>
        <url-pattern>/mock2/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mockservlet3</servlet-name>
        <url-pattern>/mock3/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>speedservlet</servlet-name>
        <url-pattern>/speed</url-pattern>
    </servlet-mapping>
    <!-- Session timeout -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>
